//
// AngularJS Multiselect Styles
// --------------------------------------------------

@import "bootstrap/variables";

.btn-group-multiselect {
    $width: 250px;

    &.state-selected {
        .dropdown-toggle {
            .text {
                width: $width - 60;
            }

            .badge {
                display: inline-block;
            }
        }
    }

    .dropdown-toggle {
        text-align: left;
        width: $width;

        .text {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
            width: 97%;
        }

        .badge,
        .caret {
            position: absolute;
        }

        .badge {
            background-color: $gray-light;
            border-radius: 3px;
            display: none;
            padding: 4px 5px;
            right: 22px;
            top: 5px;
        }

        .caret {
            right: 8px;
            top: 13px;
        }
    }

    .dropdown-menu {
        padding: 0;
        width: $width;

        input[type="checkbox"] {
            pointer-events: none;
            margin: 0 4px 0 0;
        }

        .form-control {
            border-left: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
            border-top: none;
        }

        .divider {
            margin: 5px 0;
        }
    }

    .dropdown-menu-list {
        margin: 0;
        max-height: 225px;
        overflow: auto;
        padding: 5px 0;

        > li > a {
            clear: both;
            color: $dropdown-link-color;
            font-weight: normal;
            cursor: pointer;
            display: block;
            line-height: $line-height-base;
            padding: 5px 12px;
            white-space: nowrap;

            &:hover,
            &:focus {
                background-color: $dropdown-link-hover-bg;
                color: $dropdown-link-hover-color;
                text-decoration: none;
            }
        }
    }
}
