<div
    amo-multiselect-dropdown-menu
    class="btn-group btn-group-multiselect dropdown"
    ng-attr-title="{{ multiselectDropdown.selectedLabel }}"
    ng-class="{ 'state-selected-multiple': multiselectDropdown.hasSelectedMultipleItems() }"
    on-toggle="multiselectDropdown.onToggleDropdown(open)">
    <button
        type="button"
        class="btn btn-default dropdown-toggle"
        data-toggle="dropdown"
        ng-attr-data-beh="multiselect-{{ multiselectDropdown.identifier }}">
        <span class="text" ng-bind="multiselectDropdown.selectedLabel"></span>
        <span class="badge" ng-bind="multiselectDropdown.getSelectedCount()"></span>
        <span class="caret"></span>
    </button>
    <div class="dropdown-menu">
        <input
            type="text"
            class="form-control"
            ng-model="multiselectDropdown.search.label"
            placeholder="{{ multiselectDropdown.text.search }}">
        <ul class="dropdown-menu-list list-unstyled">
            <li>
                <a
                    ng-bind="multiselectDropdown.text.deselectAll"
                    ng-class="{ 'text-muted': !multiselectDropdown.hasSelectedItems() }"
                    ng-click="multiselectDropdown.deselectAll()">
                </a>
            </li>
            <li class="divider"></li>
            <li ng-repeat="option in multiselectDropdown.optionsFiltered = (multiselectDropdown.options | filter : multiselectDropdown.search)">
                <a ng-click="multiselectDropdown.toggleSelectedState(option)">
                    <input type="checkbox" ng-model="option.selected">
                    <span ng-bind="option.label"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
